<!DOCTYPE HTML>
<html lang="en-EN">
<head>
	<meta charset="UTF-8">
	<title>Papercraft - Handshake Control</title>
		<link rel="stylesheet" type="text/css" href="javascripts/css-vfx/vfx/zflow/zflow.css" />

    <style type="text/css">
    	body
	    {
	        background-color: black;
	        color: white;
	        margin: 0;
	        padding: 0;
					padding-top: 200px;
	        font-family: Helvetica;
	    }

	    .portrait { width: 320px; height: 416px; }
	    .landscape { width: 480px; height: 270px; }
    </style>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/css-vfx/vfx/zflow/zflow.js"></script>
		<script type="text/javascript" src="/javascripts/require.js"></script>
		<script type="text/javascript" src="/javascripts/handshake/client.js"></script>
	</head>
	<body class="zflow">
		<div class="centering">
		    <div id="tray" class="tray"></div>
		</div>
	</body>
	</html>